CXX         = ~/opt/cross/bin/i686-elf-g++
ASM         = ~/opt/cross/bin/i686-elf-as
ARCH_BUILD  = ~/Escritorio/DEV/C++/AKICPP/source/arch/i386

DIR_OUT     =  ~/Escritorio/DEV/C++/AKICPP/out
DIR_BUILDS  = ~/Escritorio/DEV/C++/AKICPP/builds/i386

ARCH_OBJS   = $(DIR_OUT)/crti.o $(ARCH_BUILD)/out/crtbegin.o $(OBJS) $(ARCH_BUILD)/out/crtend.o $(DIR_OUT)/crtn.o 

LINKER      = $(ARCH_BUILD)/linker.ld
LK_FLAGS    = -ffreestanding -O2 -nostdlib -g