DIR_SOURCE  = ~/Escritorio/DEV/C++/AKICPP/source
DIR_OUT     = ~/Escritorio/DEV/C++/AKICPP/out
DIR_DISK    = ~/Escritorio/DEV/C++/AKICPP/disk

DIR_INCLUDE = $(DIR_SOURCE)/include

CXX_FLAGS   = -c -ffreestanding -Wall -Wextra -fno-exceptions -fno-rtti -I $(DIR_INCLUDE) 
DEBUG_FLAGS = -g -DEBUG

OBJS        = $(DIR_OUT)/boot.o $(DIR_OUT)/multiboot.o $(DIR_OUT)/kernel.o